body {
    font-family: roboto, sans-serif;
    padding: 0;
	background: url(../img/bg.jpg) center center no-repeat;
	background-attachment: fixed;
    background-color: #E8E8E8;
	width: 50%;
	margin: auto;
}
@media(max-width: 1170px) {
	body {
		width: 60%;
	}
}
@media(max-width: 970px) {
	body {
		width: 80%;
	}
}
@media(max-width: 750px) {
	body {
		width: 96%;
	}
}

a {
    text-decoration: underline;
    color: #3366FF;
}
a:hover {
	color: #FF55AA;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-weight: lighter;
	text-align: center;
}

h1 {
    text-align: center;
	position: relative;
}
h1 span {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	text-align: right;
}
@media(max-width: 640px) {
	h1 span {
		width: 40%;
		margin: auto;
		position: static;
		text-align: center;
	}
}
h1 span a img {
	width: 14%;
}
@media(max-width: 1170px) {
	h1 span a img {
		width: 18%;
	}
}

h2 {
	margin: 2%;
}
h2 a {
	text-decoration: none;
}

h3 {
	font-weight: bold;
	text-align: left;
	padding: 1% 2% 0;
	font-size: 1.3em;
}

h4 {
	font-size: 1.5em;
}
h4 em {
	font-style: normal;
	font-size: 1.1em;
}

ul {
    margin: 0;
    padding: 0;
}
ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header {
	padding: 3%;
}

/* projects */

.project {
	padding: 1%;
	margin: 1%;
	background: rgba(225, 225, 225, 0.7);
	box-shadow: 0 0 2px #888888;
}
@media(max-width: 750px) {
	.project {
		padding: 2%;
		margin: 3% 2%;
	}
}

.project img {
	float: left;
	width: 15%;
	box-shadow: 0 0 4px #444444;
}
@media(max-width: 750px) {
	.project img {
		float: none;
		width: 30%;
		margin: auto;
		display: block;
	}
}

.project h4 {
	color: #3366FF;
}
@media(max-width: 750px) {
	.project h4 {
		margin-top: 2%;
	}
}

.summary {
	padding: 1%;
	overflow: auto;
}

.summary .date {
	display: block;
	min-width: 200px;
	text-align: right;
	margin-right: 1.5em;
	float: left;
	clear: left;
	font-size: 0.9em;
}

.summary .role {
	display: block;
	float: left;
	min-width: 400px;
}
@media(max-width: 750px) {
	.summary .role {
		min-width: 0;
	}
}

.external-links {
	margin-left: 17%;
    text-align: center;
}
@media(max-width: 750px) {
	.external-links {
		margin-left: 0;
	}
}
.external-links a {
    border-radius: 5px;
    background: #428BCA;
    padding: 0.7% 1.5%;
    color: white;
    text-decoration: none;
	display: inline-block;
	text-shadow: 1px 1px 0 #000000;
}
.external-links a:hover {
	background-color: #417AA8;
}

/* professional projects */

#professional-projects {

}

#professional-projects .project h4 {
	text-align: left;
}

/* personal projects */

#personal-projects {
	overflow: auto;
}

#personal-projects .project {
	overflow: auto;
	float: left;
	width: 46%;
	min-height: 8em;
}
@media(max-width: 750px) {
	#personal-projects .project {
		float: none;
		width: auto;
	}
}

#personal-projects .project h4 {
    margin-left: 17%;
}
@media(max-width: 750px) {
	#personal-projects .project h4 {
		margin-left: 0;
		margin-top: 2%;
	}
}

#personal-projects .summary {
	margin-left: 17%;
	padding-left: 0;
}
@media(max-width: 750px) {
	#personal-projects .summary {
		margin-left: 0;
	}
}

#social {
    text-align: center;
	margin-bottom: 1%;
	padding: 5%;
	font-size: 1.2em;
}
#social img {
	display: inline-block;
	height: 1em;
}
#social a {
	margin: 0 0.2em;
}
