/* body */

body {
    font-family: roboto, sans-serif;
    padding: 0;
	background: url(../img/bg.jpg) center center no-repeat;
	background-attachment: fixed;
    background-color: #E8E8E8;
	width: 60%;
	margin: auto;
}
@media(max-width: 1170px) {
	body {
		width: 70%;
	}
}
@media(max-width: 970px) {
	body {
		width: 90%;
	}
}
@media(max-width: 750px) {
	body {
		width: 96%;
	}
}

/* a, p, titles */

a {
    text-decoration: underline;
    color: #3366FF;
}
a:hover {
	color: #FF55AA;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-weight: lighter;
	text-align: center;
}

h1 {
    text-align: center;
	position: relative;
	font-size: 3em;
}
h1 span {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	text-align: right;
}
@media(max-width: 640px) {
	h1 span {
		width: 40%;
		margin: auto;
		position: static;
		text-align: center;
	}
}
h1 span a img {
	width: 14%;
	max-width: 32px;
}
@media(max-width: 1170px) {
	h1 span a img {
		width: 18%;
	}
}

h2 {
	margin: 2%;
}
h2 a {
	text-decoration: none;
}

h3 {
	font-weight: bold;
	text-align: left;
	padding: 1% 2% 0;
	font-size: 1.3em;
}

h4 {
	font-size: 1.5em;
}
h4 em {
	font-style: normal;
	font-size: 1.1em;
}

header {
	padding: 1.5%;
}

/* projects */

.project {
	margin: 1%;
	background: rgba(225, 225, 225, 0.7);
	box-shadow: 0 0 2px #888888;
	overflow: auto;
}
@media(max-width: 750px) {
	.project {
		padding: 2%;
		margin: 3% 2%;
	}
	.project-big {
		padding: 0;
	}
}

.project img {
	box-shadow: 0 0 4px #444444;
}
.project-small img {
	float: left;
	width: 23%;
}
@media(max-width: 750px) {
	.project-small img {
		float: none;
		width: 40%;
		display: block;
		margin: auto;
	}
}
.project-big img {
	width: 100%;
	image-rendering: pixelated;
}

.project h4 {
	color: #3366FF;
	padding-top: 1.5%;
}
@media(max-width: 750px) {
	.project h4 {
		margin-top: 2%;
	}
}

.project-group {
	display: table;
	border-collapse:separate;
	border-spacing: 10px 5px;
	width: 100%;
}
@media(max-width: 750px) {
	.project-group {
		display: block;
	}
}

.project-group .project {
	display: table-cell;
	width: 50%;
}
@media(max-width: 750px) {
	.project-group .project {
		display: block;
		width: auto;
	}
}

/* project summary */

.summary {
	padding: 1%;
	overflow: auto;
}
.project-small .summary {
	padding-left: 3%;
}
@media(max-width: 750px) {
	.project-small .summary {
		padding-left: 1%;
	}
	.project-big .summary {
		padding: 2.5%;
	}
	.project-big .summary p {
		line-height: inherit;
	}
}

.summary .date {
	display: block;
	min-width: 160px;
	text-align: right;
	margin-top: 0.2em;
	margin-right: 1.5em;
	float: left;
	clear: left;
	font-size: 0.8em;
}
@media(max-width: 750px) {
	.summary .date {
		float: none;
		text-align: left;
	}
}

.summary .role {
	display: block;
	float: left;
	min-width: 400px;
}
@media(max-width: 750px) {
	.summary .role {
		min-width: 0;
	}
}

.summary p {
	margin-bottom: 1em;
	line-height: 1.4em;
}

/* project external links */

.external-links {
	text-align: center;
	margin-bottom: 2%;
}
@media(max-width: 750px) {
	.external-links {
		margin-bottom: 1%;
	}
}
.external-links a {
    border-radius: 5px;
    background: #428BCA;
    padding: 0.7% 1.5%;
    color: white;
    text-decoration: none;
	display: inline-block;
	text-shadow: 1px 1px 0 #000000;
}
.external-links a:hover {
	background-color: #417AA8;
}

/* professional projects */

#professional-projects .project h4 {
	text-align: left;
	padding: 1%;
}

#professional-projects .summary {
	padding: 0.8%;
}

/* personal projects */



/* social links */

#social {
    text-align: center;
	margin-bottom: 1%;
	padding: 5%;
	font-size: 1.2em;
}
#social img {
	display: inline-block;
	height: 1em;
}
#social a {
	margin: 0 0.2em;
}
