body {
    font-family: roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}

a {
    text-decoration: none;
    color: #3366FF;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

h1 {
    text-align: center;
    padding-top: 2vh;
}

ul {
    margin: 0;
    padding: 0;
}
ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header {
    min-height: 100vh;
    z-index: 2;
    position: relative;
    background-color: #EEEEEE;
}

#links {
    margin: 3vh 0;
    font-size: 1.1em;
    background: #F3F3F1;
    text-transform: uppercase;
    overflow: auto;
    border-top: 1px solid #DDDDDD;
}
#links li {
    padding: 2vh;
    border-bottom: 1px solid #DDDDDD;
    display: block;
}
@media (orientation: landscape) {
    #links li {
        float: left;
        width: 50%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    #links li:nth-child(even) {
        border-left: 1px solid #DDDDDD;
    }
}
#links a {
    display: block;
    letter-spacing: 0.5px;
    white-space: nowrap;
    overflow: hidden;
}

#social {
    font-size: 1.2em;
}

#social strong, #social a {
    display: inline-block;
    width: 48%;
    margin-right: 2%;
    color: #FF3377;
    text-decoration: none;
}
#social strong {
    text-align: right;
    font-family: Avantgarde, sans-serif;
    color: #666666;
}

#projects {

}

.project {
    min-height: 96vh;
    background: #EEEEEE;
    display: block;
    margin: 0;
    padding: 2vh 0;
    position: relative;
    background-size: auto 100%;
    background-position: 50% 0;
}
@media (orientation: landscape) {
    .project {
        background-size: 100% auto;
    }
}
.project-content {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.project h3 {
    background: rgba(255, 255, 255, 0.85);
    text-align: center;
    font-size: 1.6em;
    border-top: 1px solid #3377FF;
}
.summary {
    padding: 1.5vh 2vh;
    background: rgba(255, 255, 255, 0.85);
    border-bottom: 1px solid #FF3377;
    text-align: justify;
}

.external-links {
    text-align: center;
    padding: 5vh;
}
.external-links a {
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    background: #428BCA;
    padding: 7px;
    color: white;
    text-decoration: none;
}

#theguineasyndrome {
    background-image: url(../img/projects/theguineasyndrome.jpg);
}
#theglobalscourge {
    background-image: url(../img/projects/theglobalscourge.jpg);
}
#oceanskeeper {
    background-image: url(../img/projects/oceanskeeper.jpg);
}
#oceanskeeper2 {
    background-image: url(../img/projects/oceanskeeper2.png);
}
#pix {
    background-image: url(../img/projects/pix.png);
}
#p-p-p-pong {
    background-image: url(../img/projects/p-p-p-pong.png);
}

#top-link {
	display: block;
	width: 30px;
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 1;
	outline: none;
}
#top-link span {
	display: block;
	margin: 4px;
	border-radius: 3px;
	height: 2px;
	background: white;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.6);
}
